.pauseBtn {
    -webkit-appearance: none;
    background-color: #1b1c1d;
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-color: #e5e6e5;
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-width: 1px;
}

.pauseBtn:hover {
    opacity: 1;
}